In [216]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [126]:
df = pd.read_csv("D:/590-PR/final project/shark_attacks/attacks.csv",encoding = 'ISO-8859-1')
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [127]:
df = df[['Case Number', 'Date','Country', 'Area', 'Location','Activity','Sex ', 'Age', 'Injury', 'Fatal (Y/N)','Species ']]
df.rename(columns={'Case Number':'CaseNumber'}, inplace=True)
df.head()

,CaseNumber,Date,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Species
0,2018.06.25,25-Jun-2018,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018.06.18,18-Jun-2018,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,NaN
2,2018.06.09,09-Jun-2018,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,2018.06.08,08-Jun-2018,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark
4,2018.06.04,04-Jun-2018,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"

### H2：The activity people doing when they are attacked have a relationship with the injury type(fatal or not)

In [128]:
list(df.groupby('Activity'))[5][1]
#print(df.Activity)
#df.groupby(['Activity','Fatal (Y/N)']).size()
#dict(list(df[['Activity','Fatal (Y/N)']].groupby(['Activity','Fatal (Y/N)'])))
#list(df[['Activity','Fatal (Y/N)']].groupby(['Activity','Fatal (Y/N)']))[8][1]
#df[['Activity','Fatal (Y/N)']]

# df.Activity.value_counts()[list(df.Activity.value_counts()>10)].index

#type(df.Activity.value_counts())
#pd.DataFrame(df.groupby('Activity').size())
#df.Activity.value_counts()

,CaseNumber,Date,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Species
5640,1895.04.29,29-Apr-1895,SOUTH AFRICA,Eastern Cape Province,Mzimvubu River,"""Crossing the river""",M,28,"FATAL, right arm lacerated",Y,NaN

In [129]:
df['Fatal (Y/N)'].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
y             1
M             1
2017          1
N             1
Name: Fatal (Y/N), dtype: int64

In [130]:
print(df.Activity.value_counts())
df.size

Surfing                                                                                         971
Swimming                                                                                        869
Fishing                                                                                         431
Spearfishing                                                                                    333
Bathing                                                                                         162
Wading                                                                                          149
Diving                                                                                          127
Standing                                                                                         99
Snorkeling                                                                                       89
Scuba diving                                                                                     76
Body boarding                                                                                    61
Body surfing                                                                                     49
Swimming                                                                                         47
Kayaking                                                                                         33
Treading water                                                                                   32
Pearl diving                                                                                     32
Fell overboard                                                                                   32
Boogie boarding                                                                                  29
Free diving                                                                                      29
Windsurfing                                                                                      19
Walking                                                                                          17
Boogie Boarding                                                                                  16
Shark fishing                                                                                    15
Floating                                                                                         14
Canoeing                                                                                         13
Fishing                                                                                          13
Surf-skiing                                                                                      12
Surf skiing                                                                                      12
Surf fishing                                                                                     12
Rowing                                                                                           12
                                                                                               ...
Leaving the water                                                                                 1
Catching crabs                                                                                    1
Fleeing across a river                                                                            1
Fishing from 34' boat when pulled overboard by hooked shark                                       1
Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat           1
Washed off freighter Huncliff by a freak wave                                                     1
Snorkeling, possibly holding a fish                                                               1
Air Disaster - Piper aircraft crashed into the sea, killing all on board                          1
Photographing the shark                                                                           1
Swimming or wading out  to warn bathers that a shark had been seen                                1
Cutter capsized                                                                                   1
Aircraft ditched in the sea, swimming ashore                                                      1
Scuba diving & filming                                                                            1
Fishing, probably with a net                                                                      1
Diving for Abalone                                                                                1
Attempting to anesthetize shark                                                                   1
Bathing near whaling ship (bark A. R. Tucker of New Bedford, Massachusetts)                       1
Kneeling in the water                                                                             1
Fishing for blue sharks                                                                           1
Swimming to shore from the Medic                                                                  1
Accidentally dragged overboard from the sampan Holokahana into school of yellowfin tuna           1
Chumming for white sharks                                                                         1
M.V. Tropical sank. Sole survivor rode oil drums for 8 days without food or water.                1
Small boat swamped, 4  people swimming to shore but he fell behind the other 3 and vanished       1
The troopship Britannia was sunk by the German raider Thor                                        1
Being pulled to shore from wreck of 25-ton fishing vessel Alan S                                  1
Moving shark from tuna vessel when boat rolled, placing both man & shark in chest-deep water      1
Washed off raft                                                                                   1
Lying prone in 2' of water                                                                        1
Free diving for shell                                                                             1
Name: Activity, Length: 1532, dtype: int64

282953

In [131]:
df_act_fatal = df
# 删除Activity空值
df_act_fatal['Activity'] = df_act_fatal['Activity'].fillna('***')
na_Activity_index = df_act_fatal[df_act_fatal.Activity == '***'].index.tolist()
df_act_fatal = df_act_fatal.drop(na_Activity_index)
# 删除fatal空值
df_act_fatal['Fatal (Y/N)'] = df_act_fatal['Fatal (Y/N)'].fillna('***')
na_fatal_index = df_act_fatal[df_act_fatal['Fatal (Y/N)'] == '***'].index.tolist()
df_act_fatal = df_act_fatal.drop(na_fatal_index)
len(df_act_fatal)

5344

In [132]:
### To Do activity 处理成全小写 再统计count
def activity_lower_case(activity):
    activity = str(activity)
    return activity.lower()  
df_act_fatal['Activity'] = df_act_fatal['Activity'].apply(activity_lower_case)
len(df_act_fatal)

5344

In [133]:
df_act_fatal.Activity.value_counts()[list(df_act_fatal.Activity.value_counts()>50)]

surfing          933
swimming         780
fishing          412
spearfishing     309
bathing          149
wading           140
diving           114
standing          98
snorkeling        87
scuba diving      71
body boarding     64
Name: Activity, dtype: int64

In [134]:
df_act_fatal

,CaseNumber,Date,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Species
0,2018.06.25,25-Jun-2018,USA,California,"Oceanside, San Diego County",paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018.06.18,18-Jun-2018,USA,Georgia,"St. Simon Island, Glynn County",standing,F,11,Minor injury to left thigh,N,NaN
2,2018.06.09,09-Jun-2018,USA,Hawaii,"Habush, Oahu",surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,2018.06.08,08-Jun-2018,AUSTRALIA,New South Wales,Arrawarra Headland,surfing,M,NaN,Minor injury to lower leg,N,2 m shark
4,2018.06.04,04-Jun-2018,MEXICO,Colima,La Ticla,free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
5,2018.06.03.b,03-Jun-2018,AUSTRALIA,New South Wales,"Flat Rock, Ballina",kite surfing,M,NaN,"No injury, board bitten",N,NaN
6,2018.06.03.a,03-Jun-2018,BRAZIL,Pernambuco,"Piedade Beach, Recife",swimming,M,18,FATAL,Y,Tiger shark
7,2018.05.27,27-May-2018,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",fishing,M,52,Minor injury to foot. PROVOKED INCIDENT,N,"Lemon shark, 3'"
8,2018.05.26.b,26-May-2018,USA,Florida,"Cocoa Beach, Brevard County",walking,M,15,Lower left leg bitten,N,"Bull shark, 6'"
9,2018.05.26.a,26-May-2018,USA,Florida,"Daytona Beach, Volusia County",standing,M,12,Minor injury to foot,N,NaN
10,2018.05.24,24-May-2018,AUSTRALIA,Queensland,Cairns Aquarium,feeding sharks,M,32,Minor bite to hand by captive shark. PROVOKED ...,N,Grey reef shark
11,2018.05.21,21-May-2018,USA,South Carolina,"Isle of Palms, Charleston County",boogie boarding,M,10,Injuries to lower right leg and foot,N,NaN
12,2018.05.13.b,13-May-2018,USA,South Carolina,"Hilton Head Island, Beaufort County",swimming,M,10,Severe bite to right forearm,N,NaN
13,2018.05.13.a,13-May-2018,ENGLAND,Cornwall,Off Land's End,fishing,M,21,Injured by teeth of a dead porbeagle shark he ...,N,Invalid incident
14,2018.05.00,May 2018,AUSTRALIA,Westerm Australia,Dugong Bay,feeding sharks,F,34,Shallow lacerations to finger PROVOKED INCIDENT,N,"Tawny nurse shark, 2m"
15,2018.05.12,12-May-2018,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",surfing,M,NaN,"Minor injury, marks on board",N,NaN
16,2018.05.09,09-May-2018,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",surfing,M,NaN,"No injury, surfboard damaged",N,Shark involvement not confirmed
17,2018.04.30.R,Reported 30-Apr-2018,THAILAND,Hua Hin,Sai Noi Beach,swimming,M,NaN,Minor injury to ankle,N,NaN
18,2018.04.28.b,28-Apr-2018,COSTA RICA,Cocos Island,Manuelita,scuba diving,M,30,"No injury, shark bit scuba gear",N,Tiger shark
19,2018.04.28.a,28-Apr-2018,AUSTRALIA,Western Australia,Gearys Beach,surfing,M,NaN,"No injury, knocked off board by shark",N,NaN
20,2018.04.25.b,25-Apr-2018,AUSTRALIA,New South Wales,Lennox Head,surfing,M,NaN,No injury,N,Questionable
21,2018.04.25.a,25-Apr-2018,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",surfing,M,60,"No injury, knocked off board by shark",N,3 m shark
22,2018.04.24,24-Apr-2018,AUSTRALIA,Western Australia,"South Point, Gracetown",surfing,M,NaN,"No injury, shark struck his leg",N,"White shark, 3.5 m"
23,2018.04.23,23-Apr-2018,MALDIVES,Alifu Alifu Atoll,Madoogali,fishing,M,32,5-inch cut to hand,N,Tiger shark
24,2018.04.22,22-Apr-2018,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",paddle-skiing,M,33,"No injury, shark bit hole in ski",N,"White shark, 2.5 m"
25,2018.04.19,19-Apr-2018,USA,Hawaii,"Shipwrecks Beach, Keoneloa Bay, Kauai",body boarding,M,29,Lacerations to right lower leg,N,6' shark
26,2018.04.15.d,15-Apr-2018,THAILAND,Hua Hin,Sai Noi Beach,swimming,M,54,Lacerations to foot and ankle,N,Juvenile bull shark
28,2018.04.15.b,15-Apr-2018,AUSTRALIA,Western Australia,"Lefthanders, Margaret River Area",surfing,M,41,Laceration to right thigh,N,NaN
29,2018.04.15.a,15-Apr-2018,AUSTRALIA,Western Australia,"Cobblestones, Margaret River Area",surfing,M,37,Lacerations to legs,N,NaN
30,2018.04.14,14-Apr-2018,BAHAMAS,New Providence,Nirvana Beach,surfing,M,NaN,No Injury. Shark swam away with the surf board,N,Tiger shark
...,...,...,...,...,...,...,...,...,...,...,...
6267,ND.0036,1940 - 1950,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,diving,M,NaN,Buttocks bitten,N,6' shark
6268,ND.0035,1940 - 1950,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,diving,M,NaN,"Foot lacerated, surgically amputated",N,NaN
6270,ND.0033,Before 1905,BURMA,NaN,NaN,carrying a supposedly dead shark by its mouth,M,NaN,4 fingers severed by 'dead' shark. PROVOKED AC...,N,NaN
6271,ND.0032,World War II,PAPUA NEW GUINEA,Between New Ireland & New Britain,St. Georges Channel,spent 8 days in dinghy,M,NaN,"No injury, but shark removed the heel & part o...",N,NaN
6272,ND.0031,World War II,PAPUA NEW GUINEA,Madang Province,Off Lae,"aircraft ditched in the sea, swimming ashore",M,NaN,Shark bumped him,N,NaN
6273,ND.0030,Before 1905,BURMA,NaN,NaN,bathing,M,NaN,Fatal x 2,Y,NaN
6274,ND.0028,A few years before 1938,ITALY,Adriatic Sea,NaN,wooden fishing boat,M,NaN,No injury to occupant; shark capsized boat,N,White shark
6275,ND.0027,No date,GREECE,Dodecanese Islands,Symi Island,sponge diving,M,NaN,Head bitten,N,NaN
6276,ND.0026,Early 1930s,BELIZE,NaN,NaN,standing,M,16,FATAL,Y,12' tiger shark
6278,ND.0024,Between 1918 & 1939,REUNION,Saint-Denis,Barachois,swimming,NaN,NaN,FATAL,Y,NaN
6279,ND.0023,No date,SOUTH AFRICA,Western Cape Province,Arniston,wading,F,NaN,Ankle bitten,N,NaN
6280,ND.0022,No date,AUSTRALIA,NaN,NaN,pearl diving,M,NaN,Lacerations to thigh,N,NaN
6281,ND.0021,No date,SOUTH AFRICA,KwaZulu-Natal,Durban,swimming in pool formed by construction of a w...,M,NaN,"FATAL, leg severed",Y,NaN
6283,ND.0019,Before 1921,USA,Florida,"Gadsden Point, Tampa Bay",fishing,M,NaN,2-inch lacerations,N,NaN
6284,ND.0018,Before 1911,VIETNAM,Ba Ria-Vung Tau Province,V?ng Tàu,swimming around anchored ship,M,NaN,Foot bitten,N,NaN
6285,ND.0017,Before 1921,SOUTH AFRICA,KwaZulu-Natal,Durban,crew swimming alongside their anchored ship,M,NaN,FATAL,Y,NaN
6286,ND.0016,Before 1921,SOUTH AFRICA,KwaZulu-Natal,Durban,4 men were bathing,M,NaN,FATAL,Y,NaN
6287,ND.0015,Before 1917,FIJI,Moala Island,NaN,wreck of large double sailing canoe,NaN,NaN,"FATAL, 18 people were killed by sharks, 2 sur...",Y,NaN
6288,ND.0014,Before 17-Jul-1916,USA,North Carolina,Somewhere between Hatteras and Beaufort,swimming,M,NaN,"""Lost leg""",N,NaN
6289,ND.0013,No date (3 days after preceding incident) & pr...,SOUTH AFRICA,KwaZulu-Natal,Durban,fishing,M,NaN,"FATAL, body not recovered but shark was caught...",Y,NaN
6290,ND.0012,Before 19-Jul-1913,SOUTH AFRICA,KwaZulu-Natal,Durban,wading,M,NaN,"FATAL, leg stripped of flesh",Y,NaN
6291,ND.0011,Before 1911,ASIA?,NaN,NaN,swimming,M,NaN,Foot severed,N,NaN
6293,ND.0009,Before 1906,AUSTRALIA,NaN,NaN,fishing,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",Y,Blue pointer
6294,ND.0008,Before 1906,AUSTRALIA,NaN,NaN,fishing,M,NaN,FATAL,Y,Blue pointer
6295,ND.0007,Before 1906,AUSTRALIA,NaN,NaN,fishing,M,NaN,FATAL,Y,Blue pointers
6296,ND.0006,Before 1906,AUSTRALIA,New South Wales,,swimming,M,NaN,FATAL,Y,Said to involve a grey nurse shark that leapt ...
6297,ND.0005,Before 1903,AUSTRALIA,Western Australia,Roebuck Bay,diving,M,NaN,FATAL,Y,NaN
6298,ND.0004,Before 1903,AUSTRALIA,Western Australia,NaN,pearl diving,M,NaN,FATAL,Y,NaN
6299,ND.0003,1900-1905,USA,North Carolina,Ocracoke Inlet,swimming,M,NaN,FATAL,Y,NaN
6301,ND.0001,1845-1853,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN

In [135]:
def activity_process(activity):
    activity = str(activity)
    if activity in df_act_fatal.Activity.value_counts()[list(df_act_fatal.Activity.value_counts()>50)].index:
        return activity
    else:
        return '***'

In [136]:
def fatal_process(fatal):
    fatal = str(fatal)
    if fatal in ['N','Y']:
        return fatal
    else:
        return '***'

In [137]:
df_act_fatal['Activity'] = df_act_fatal['Activity'].apply(activity_process)
len(df_act_fatal)

5344

In [138]:
df_act_fatal['Fatal (Y/N)'] = df_act_fatal['Fatal (Y/N)'].apply(fatal_process)
len(df_act_fatal)

5344

In [139]:
df_act_fatal

,CaseNumber,Date,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Species
0,2018.06.25,25-Jun-2018,USA,California,"Oceanside, San Diego County",***,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018.06.18,18-Jun-2018,USA,Georgia,"St. Simon Island, Glynn County",standing,F,11,Minor injury to left thigh,N,NaN
2,2018.06.09,09-Jun-2018,USA,Hawaii,"Habush, Oahu",surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,2018.06.08,08-Jun-2018,AUSTRALIA,New South Wales,Arrawarra Headland,surfing,M,NaN,Minor injury to lower leg,N,2 m shark
4,2018.06.04,04-Jun-2018,MEXICO,Colima,La Ticla,***,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
5,2018.06.03.b,03-Jun-2018,AUSTRALIA,New South Wales,"Flat Rock, Ballina",***,M,NaN,"No injury, board bitten",N,NaN
6,2018.06.03.a,03-Jun-2018,BRAZIL,Pernambuco,"Piedade Beach, Recife",swimming,M,18,FATAL,Y,Tiger shark
7,2018.05.27,27-May-2018,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",fishing,M,52,Minor injury to foot. PROVOKED INCIDENT,N,"Lemon shark, 3'"
8,2018.05.26.b,26-May-2018,USA,Florida,"Cocoa Beach, Brevard County",***,M,15,Lower left leg bitten,N,"Bull shark, 6'"
9,2018.05.26.a,26-May-2018,USA,Florida,"Daytona Beach, Volusia County",standing,M,12,Minor injury to foot,N,NaN
10,2018.05.24,24-May-2018,AUSTRALIA,Queensland,Cairns Aquarium,***,M,32,Minor bite to hand by captive shark. PROVOKED ...,N,Grey reef shark
11,2018.05.21,21-May-2018,USA,South Carolina,"Isle of Palms, Charleston County",***,M,10,Injuries to lower right leg and foot,N,NaN
12,2018.05.13.b,13-May-2018,USA,South Carolina,"Hilton Head Island, Beaufort County",swimming,M,10,Severe bite to right forearm,N,NaN
13,2018.05.13.a,13-May-2018,ENGLAND,Cornwall,Off Land's End,fishing,M,21,Injured by teeth of a dead porbeagle shark he ...,N,Invalid incident
14,2018.05.00,May 2018,AUSTRALIA,Westerm Australia,Dugong Bay,***,F,34,Shallow lacerations to finger PROVOKED INCIDENT,N,"Tawny nurse shark, 2m"
15,2018.05.12,12-May-2018,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",surfing,M,NaN,"Minor injury, marks on board",N,NaN
16,2018.05.09,09-May-2018,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",surfing,M,NaN,"No injury, surfboard damaged",N,Shark involvement not confirmed
17,2018.04.30.R,Reported 30-Apr-2018,THAILAND,Hua Hin,Sai Noi Beach,swimming,M,NaN,Minor injury to ankle,N,NaN
18,2018.04.28.b,28-Apr-2018,COSTA RICA,Cocos Island,Manuelita,scuba diving,M,30,"No injury, shark bit scuba gear",N,Tiger shark
19,2018.04.28.a,28-Apr-2018,AUSTRALIA,Western Australia,Gearys Beach,surfing,M,NaN,"No injury, knocked off board by shark",N,NaN
20,2018.04.25.b,25-Apr-2018,AUSTRALIA,New South Wales,Lennox Head,surfing,M,NaN,No injury,N,Questionable
21,2018.04.25.a,25-Apr-2018,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",surfing,M,60,"No injury, knocked off board by shark",N,3 m shark
22,2018.04.24,24-Apr-2018,AUSTRALIA,Western Australia,"South Point, Gracetown",surfing,M,NaN,"No injury, shark struck his leg",N,"White shark, 3.5 m"
23,2018.04.23,23-Apr-2018,MALDIVES,Alifu Alifu Atoll,Madoogali,fishing,M,32,5-inch cut to hand,N,Tiger shark
24,2018.04.22,22-Apr-2018,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",***,M,33,"No injury, shark bit hole in ski",N,"White shark, 2.5 m"
25,2018.04.19,19-Apr-2018,USA,Hawaii,"Shipwrecks Beach, Keoneloa Bay, Kauai",body boarding,M,29,Lacerations to right lower leg,N,6' shark
26,2018.04.15.d,15-Apr-2018,THAILAND,Hua Hin,Sai Noi Beach,swimming,M,54,Lacerations to foot and ankle,N,Juvenile bull shark
28,2018.04.15.b,15-Apr-2018,AUSTRALIA,Western Australia,"Lefthanders, Margaret River Area",surfing,M,41,Laceration to right thigh,N,NaN
29,2018.04.15.a,15-Apr-2018,AUSTRALIA,Western Australia,"Cobblestones, Margaret River Area",surfing,M,37,Lacerations to legs,N,NaN
30,2018.04.14,14-Apr-2018,BAHAMAS,New Providence,Nirvana Beach,surfing,M,NaN,No Injury. Shark swam away with the surf board,N,Tiger shark
...,...,...,...,...,...,...,...,...,...,...,...
6267,ND.0036,1940 - 1950,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,diving,M,NaN,Buttocks bitten,N,6' shark
6268,ND.0035,1940 - 1950,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,diving,M,NaN,"Foot lacerated, surgically amputated",N,NaN
6270,ND.0033,Before 1905,BURMA,NaN,NaN,***,M,NaN,4 fingers severed by 'dead' shark. PROVOKED AC...,N,NaN
6271,ND.0032,World War II,PAPUA NEW GUINEA,Between New Ireland & New Britain,St. Georges Channel,***,M,NaN,"No injury, but shark removed the heel & part o...",N,NaN
6272,ND.0031,World War II,PAPUA NEW GUINEA,Madang Province,Off Lae,***,M,NaN,Shark bumped him,N,NaN
6273,ND.0030,Before 1905,BURMA,NaN,NaN,bathing,M,NaN,Fatal x 2,Y,NaN
6274,ND.0028,A few years before 1938,ITALY,Adriatic Sea,NaN,***,M,NaN,No injury to occupant; shark capsized boat,N,White shark
6275,ND.0027,No date,GREECE,Dodecanese Islands,Symi Island,***,M,NaN,Head bitten,N,NaN
6276,ND.0026,Early 1930s,BELIZE,NaN,NaN,standing,M,16,FATAL,Y,12' tiger shark
6278,ND.0024,Between 1918 & 1939,REUNION,Saint-Denis,Barachois,swimming,NaN,NaN,FATAL,Y,NaN
6279,ND.0023,No date,SOUTH AFRICA,Western Cape Province,Arniston,wading,F,NaN,Ankle bitten,N,NaN
6280,ND.0022,No date,AUSTRALIA,NaN,NaN,***,M,NaN,Lacerations to thigh,N,NaN
6281,ND.0021,No date,SOUTH AFRICA,KwaZulu-Natal,Durban,***,M,NaN,"FATAL, leg severed",Y,NaN
6283,ND.0019,Before 1921,USA,Florida,"Gadsden Point, Tampa Bay",fishing,M,NaN,2-inch lacerations,N,NaN
6284,ND.0018,Before 1911,VIETNAM,Ba Ria-Vung Tau Province,V?ng Tàu,***,M,NaN,Foot bitten,N,NaN
6285,ND.0017,Before 1921,SOUTH AFRICA,KwaZulu-Natal,Durban,***,M,NaN,FATAL,Y,NaN
6286,ND.0016,Before 1921,SOUTH AFRICA,KwaZulu-Natal,Durban,***,M,NaN,FATAL,Y,NaN
6287,ND.0015,Before 1917,FIJI,Moala Island,NaN,***,NaN,NaN,"FATAL, 18 people were killed by sharks, 2 sur...",Y,NaN
6288,ND.0014,Before 17-Jul-1916,USA,North Carolina,Somewhere between Hatteras and Beaufort,swimming,M,NaN,"""Lost leg""",N,NaN
6289,ND.0013,No date (3 days after preceding incident) & pr...,SOUTH AFRICA,KwaZulu-Natal,Durban,fishing,M,NaN,"FATAL, body not recovered but shark was caught...",Y,NaN
6290,ND.0012,Before 19-Jul-1913,SOUTH AFRICA,KwaZulu-Natal,Durban,wading,M,NaN,"FATAL, leg stripped of flesh",Y,NaN
6291,ND.0011,Before 1911,ASIA?,NaN,NaN,swimming,M,NaN,Foot severed,N,NaN
6293,ND.0009,Before 1906,AUSTRALIA,NaN,NaN,fishing,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",Y,Blue pointer
6294,ND.0008,Before 1906,AUSTRALIA,NaN,NaN,fishing,M,NaN,FATAL,Y,Blue pointer
6295,ND.0007,Before 1906,AUSTRALIA,NaN,NaN,fishing,M,NaN,FATAL,Y,Blue pointers
6296,ND.0006,Before 1906,AUSTRALIA,New South Wales,,swimming,M,NaN,FATAL,Y,Said to involve a grey nurse shark that leapt ...
6297,ND.0005,Before 1903,AUSTRALIA,Western Australia,Roebuck Bay,diving,M,NaN,FATAL,Y,NaN
6298,ND.0004,Before 1903,AUSTRALIA,Western Australia,NaN,***,M,NaN,FATAL,Y,NaN
6299,ND.0003,1900-1905,USA,North Carolina,Ocracoke Inlet,swimming,M,NaN,FATAL,Y,NaN
6301,ND.0001,1845-1853,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN

In [142]:
na_Activity_index = df_act_fatal[df_act_fatal.Activity == '***'].index.tolist()
df_act_fatal = df_act_fatal.drop(na_Activity_index)
na_fatal_index = df_act_fatal[df_act_fatal['Fatal (Y/N)'] == '***'].index.tolist()
df_act_fatal = df_act_fatal.drop(na_fatal_index)
df_act_fatal.reset_index(drop=True, inplace=True)
df_act_fatal

,CaseNumber,Date,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Species
0,2018.06.18,18-Jun-2018,USA,Georgia,"St. Simon Island, Glynn County",standing,F,11,Minor injury to left thigh,N,NaN
1,2018.06.09,09-Jun-2018,USA,Hawaii,"Habush, Oahu",surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN
2,2018.06.08,08-Jun-2018,AUSTRALIA,New South Wales,Arrawarra Headland,surfing,M,NaN,Minor injury to lower leg,N,2 m shark
3,2018.06.03.a,03-Jun-2018,BRAZIL,Pernambuco,"Piedade Beach, Recife",swimming,M,18,FATAL,Y,Tiger shark
4,2018.05.27,27-May-2018,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",fishing,M,52,Minor injury to foot. PROVOKED INCIDENT,N,"Lemon shark, 3'"
5,2018.05.26.a,26-May-2018,USA,Florida,"Daytona Beach, Volusia County",standing,M,12,Minor injury to foot,N,NaN
6,2018.05.13.b,13-May-2018,USA,South Carolina,"Hilton Head Island, Beaufort County",swimming,M,10,Severe bite to right forearm,N,NaN
7,2018.05.13.a,13-May-2018,ENGLAND,Cornwall,Off Land's End,fishing,M,21,Injured by teeth of a dead porbeagle shark he ...,N,Invalid incident
8,2018.05.12,12-May-2018,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",surfing,M,NaN,"Minor injury, marks on board",N,NaN
9,2018.05.09,09-May-2018,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",surfing,M,NaN,"No injury, surfboard damaged",N,Shark involvement not confirmed
10,2018.04.30.R,Reported 30-Apr-2018,THAILAND,Hua Hin,Sai Noi Beach,swimming,M,NaN,Minor injury to ankle,N,NaN
11,2018.04.28.b,28-Apr-2018,COSTA RICA,Cocos Island,Manuelita,scuba diving,M,30,"No injury, shark bit scuba gear",N,Tiger shark
12,2018.04.28.a,28-Apr-2018,AUSTRALIA,Western Australia,Gearys Beach,surfing,M,NaN,"No injury, knocked off board by shark",N,NaN
13,2018.04.25.b,25-Apr-2018,AUSTRALIA,New South Wales,Lennox Head,surfing,M,NaN,No injury,N,Questionable
14,2018.04.25.a,25-Apr-2018,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",surfing,M,60,"No injury, knocked off board by shark",N,3 m shark
15,2018.04.24,24-Apr-2018,AUSTRALIA,Western Australia,"South Point, Gracetown",surfing,M,NaN,"No injury, shark struck his leg",N,"White shark, 3.5 m"
16,2018.04.23,23-Apr-2018,MALDIVES,Alifu Alifu Atoll,Madoogali,fishing,M,32,5-inch cut to hand,N,Tiger shark
17,2018.04.19,19-Apr-2018,USA,Hawaii,"Shipwrecks Beach, Keoneloa Bay, Kauai",body boarding,M,29,Lacerations to right lower leg,N,6' shark
18,2018.04.15.d,15-Apr-2018,THAILAND,Hua Hin,Sai Noi Beach,swimming,M,54,Lacerations to foot and ankle,N,Juvenile bull shark
19,2018.04.15.b,15-Apr-2018,AUSTRALIA,Western Australia,"Lefthanders, Margaret River Area",surfing,M,41,Laceration to right thigh,N,NaN
20,2018.04.15.a,15-Apr-2018,AUSTRALIA,Western Australia,"Cobblestones, Margaret River Area",surfing,M,37,Lacerations to legs,N,NaN
21,2018.04.14,14-Apr-2018,BAHAMAS,New Providence,Nirvana Beach,surfing,M,NaN,No Injury. Shark swam away with the surf board,N,Tiger shark
22,2018.04.10.R,Reported 10-Apr-2018,BRAZIL,Alagoas,"Praia de Sauaçuhy, Maceió",fishing,M,56,Injury to ankle from marine animal trapped in ...,N,Shark involvement not confirmed
23,2018.04.05,05-Apr-2018,BAHAMAS,NaN,Bimini,swimming,M,12,"2 puncture wounds to left foot, abrasion to ri...",N,Bull shark
24,2018.04.03,03-Apr-2018,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,surfing,M,19,Lacerations to left knee & lower leg,N,White shark
25,2018.03.14,14-Mar-2018,AUSTRALIA,Western Australia,Waterman's Bay,wading,M,10,Minor injuries to legs,N,Wobbegong shark
26,2018.03.09.b,9-Mar-2018,AUSTRALIA,Victoria,Lorne,swimming,M,69,"No injury, said to have been charged by sharks...",N,3.5 m shark
27,2018.03.09.a,9-Mar-2018,AUSTRALIA,Victoria,Winkipop,surfing,M,18,"Minor injury, ankle grazed",N,1.8 m shark
28,2018.02.24,24-Feb-2018,SOUTH AFRICA,KwaZulu-Natal,Durban,scuba diving,M,38,The shark & man simply collided; neither were...,N,Blacktip shark
29,2018.02.23,23-Feb-2018,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",swimming,F,55,Laceratons to right leg & foot,N,"Juvenile white shark, 2.7 to 3.2 m"
...,...,...,...,...,...,...,...,...,...,...,...
3096,ND.0094,"No date, Before May-1996",KOREA,South Korea,Cheju Island,diving,F,NaN,"FATAL, injured while diving, then shark bit her",Y,NaN
3097,ND.0093,"No date, Before Mar-1995",FRENCH POLYNESIA,Tuamotus,Rangiroa,fishing,M,NaN,"Speared a shark, fell overboard and another sh...",N,NaN
3098,ND.0091,Before 1996,SUDAN,Red Sea State,Sha'ab Rumi,diving,M,NaN,"No injury, BC ripped",N,Silvertip shark
3099,ND.0086,"No date, Before 1975",PAPUA NEW GUINEA,Milne Bay Province,"D'Entrecasteaux islands, 20 miles off the coast",scuba diving,M,NaN,Said to be fatal and involve a 4.6 m to 6 m [1...,Y,Questionable
3100,ND.0082,"No date, Before 8-May-1965",GREECE,Island of Volos,Eastern shore,swimming,F,NaN,FATAL,Y,NaN
3101,ND.0073,"No date, Before 1963",SINGAPORE,NaN,"Keppel Harbor, 2 miles from Singapore city ce...",swimming,NaN,NaN,Recovered,N,NaN
3102,ND.0057,Before 1958,MADAGASCAR,Toamasina Province,Tamatave,bathing,M,NaN,FATAL,Y,NaN
3103,ND.0056,Before 1958,USA,Florida,"Palm Beach, Palm Beach County",standing,M,NaN,Abrasions & bruises hip to ankle,N,NaN
3104,ND.0049,Before 1956,MARSHALL ISLANDS,Bikini Atoll,NaN,swimming,M,NaN,Buttocks bitten,N,NaN
3105,ND.0048,Before 1956,KIRIBATI,Phoenix Islands,Canton Island,diving,M,NaN,No injury,N,NaN
3106,ND.0038,1941-1942,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,swimming,M,13 or 14,"FATAL, left leg bitten with severe blood loss",Y,Bull shark
3107,ND.0037,1940 - 1950,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,diving,M,NaN,"FATAL, died of sepsis",Y,"""a black-tipped shark"""
3108,ND.0036,1940 - 1950,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,diving,M,NaN,Buttocks bitten,N,6' shark
3109,ND.0035,1940 - 1950,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,diving,M,NaN,"Foot lacerated, surgically amputated",N,NaN
3110,ND.0030,Before 1905,BURMA,NaN,NaN,bathing,M,NaN,Fatal x 2,Y,NaN
3111,ND.0026,Early 1930s,BELIZE,NaN,NaN,standing,M,16,FATAL,Y,12' tiger shark
3112,ND.0024,Between 1918 & 1939,REUNION,Saint-Denis,Barachois,swimming,NaN,NaN,FATAL,Y,NaN
3113,ND.0023,No date,SOUTH AFRICA,Western Cape Province,Arniston,wading,F,NaN,Ankle bitten,N,NaN
3114,ND.0019,Before 1921,USA,Florida,"Gadsden Point, Tampa Bay",fishing,M,NaN,2-inch lacerations,N,NaN
3115,ND.0014,Before 17-Jul-1916,USA,North Carolina,Somewhere between Hatteras and Beaufort,swimming,M,NaN,"""Lost leg""",N,NaN
3116,ND.0013,No date (3 days after preceding incident) & pr...,SOUTH AFRICA,KwaZulu-Natal,Durban,fishing,M,NaN,"FATAL, body not recovered but shark was caught...",Y,NaN
3117,ND.0012,Before 19-Jul-1913,SOUTH AFRICA,KwaZulu-Natal,Durban,wading,M,NaN,"FATAL, leg stripped of flesh",Y,NaN
3118,ND.0011,Before 1911,ASIA?,NaN,NaN,swimming,M,NaN,Foot severed,N,NaN
3119,ND.0009,Before 1906,AUSTRALIA,NaN,NaN,fishing,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",Y,Blue pointer
3120,ND.0008,Before 1906,AUSTRALIA,NaN,NaN,fishing,M,NaN,FATAL,Y,Blue pointer
3121,ND.0007,Before 1906,AUSTRALIA,NaN,NaN,fishing,M,NaN,FATAL,Y,Blue pointers
3122,ND.0006,Before 1906,AUSTRALIA,New South Wales,,swimming,M,NaN,FATAL,Y,Said to involve a grey nurse shark that leapt ...
3123,ND.0005,Before 1903,AUSTRALIA,Western Australia,Roebuck Bay,diving,M,NaN,FATAL,Y,NaN
3124,ND.0003,1900-1905,USA,North Carolina,Ocracoke Inlet,swimming,M,NaN,FATAL,Y,NaN
3125,ND.0001,1845-1853,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN

In [143]:
df_act_fatal[['Activity','Fatal (Y/N)']]

           Activity Fatal (Y/N)
0          standing           N
1           surfing           N
2           surfing           N
3          swimming           Y
4           fishing           N
5          standing           N
6          swimming           N
7           fishing           N
8           surfing           N
9           surfing           N
10         swimming           N
11     scuba diving           N
12          surfing           N
13          surfing           N
14          surfing           N
15          surfing           N
16          fishing           N
17    body boarding           N
18         swimming           N
19          surfing           N
20          surfing           N
21          surfing           N
22          fishing           N
23         swimming           N
24          surfing           N
25           wading           N
26         swimming           N
27          surfing           N
28     scuba diving           N
29         swimming           N
...             ...         ...
3096         diving           Y
3097        fishing           N
3098         diving           N
3099   scuba diving           Y
3100       swimming           Y
3101       swimming           N
3102        bathing           Y
3103       standing           N
3104       swimming           N
3105         diving           N
3106       swimming           Y
3107         diving           Y
3108         diving           N
3109         diving           N
3110        bathing           Y
3111       standing           Y
3112       swimming           Y
3113         wading           N
3114        fishing           N
3115       swimming           N
3116        fishing           Y
3117         wading           Y
3118       swimming           N
3119        fishing           Y
3120        fishing           Y
3121        fishing           Y
3122       swimming           Y
3123         diving           Y
3124       swimming           Y
3125       swimming           Y

[3126 rows x 2 columns]

In [212]:
contingency_table1 = pd.crosstab(df_act_fatal['Activity'],df_act_fatal['Fatal (Y/N)'])
contingency_table1

Fatal (Y/N)      N    Y
Activity
bathing         76   70
body boarding   49   15
diving          90   19
fishing        362   47
scuba diving    57   14
snorkeling      76   11
spearfishing   264   41
standing        82   16
surfing        878   49
swimming       468  304
wading         125   13

In [217]:
chi2_contingency(contingency_table1)

(431.30932029153274,
 2.0197045948795095e-86,
 10,
 array([[118.02367242,  27.97632758],
        [ 51.73640435,  12.26359565],
        [ 88.11356366,  20.88643634],
        [330.62795905,  78.37204095],
        [ 57.39507358,  13.60492642],
        [ 70.32917466,  16.67082534],
        [246.55630198,  58.44369802],
        [ 79.22136916,  18.77863084],
        [749.36948177, 177.63051823],
        [624.07037748, 147.92962252],
        [111.55662188,  26.44337812]]))

### H3: The species of shark have a relationship with the injury type (fatal or not).

In [ ]:
# print(df_species_fatal['Species '].value_counts()[list(df_species_fatal['Species '].value_counts()>0)].index)
# df_species_fatal.reset_index(drop=True, inplace=True)
# df_species_fatal = df_species_fatal[["Species ","Fatal (Y/N)"]]
# df_species_fatal.head()

In [200]:
df_species_fatal = df
len(df_species_fatal)

25723

In [201]:
print(df_species_fatal['Species '].value_counts()[list(df_species_fatal['Species '].value_counts()>6)])

***                                                   22259
White shark                                             163
Shark involvement prior to death was not confirmed      105
Invalid                                                 102
Shark involvement not confirmed                          88
Tiger shark                                              73
Shark involvement prior to death unconfirmed             68
Bull shark                                               52
6' shark                                                 40
4' shark                                                 40
1.8 m [6'] shark                                         35
Questionable incident                                    35
Questionable                                             34
1.5 m [5'] shark                                         32
1.2 m [4'] shark                                         27
5' shark                                                 26
3' shark                                                 26
2 m shark                                                25
4' to 5' shark                                           24
3 m [10'] shark                                          22
No shark involvement                                     21
Wobbegong shark                                          21
3' to 4' shark                                           18
3 m shark                                                17
2.4 m [8'] shark                                         16
Blacktip shark                                           15
12' shark                                                15
3.7 m [12'] shark                                        15
1.2 m to 1.5 m [4' to 5'] shark                          14
Blue shark                                               14
                                                      ...
1.5 m shark                                              13
"a small shark"                                          13
7' shark                                                 13
Mako shark                                               13
10' shark                                                12
Raggedtooth shark                                        12
Bronze whaler shark                                      12
5 m [16.5'] white shark                                  12
Nurse shark                                              12
6 m [20'] white shark                                    12
Zambesi shark                                            11
Grey nurse shark                                         11
4 m [13'] white shark                                    10
2.1 m [7'] shark                                          9
White shark, 4 m [13']                                    9
1 m shark                                                 9
a small shark                                             9
Hammerhead shark                                          9
3 m [10'] white shark                                     8
Unidentified species                                      8
"small shark"                                             8
2' to 3' shark                                            8
9' shark                                                  7
Sandtiger shark                                           7
Lemon shark                                               7
Bull shark, 6'                                            7
Basking shark                                             7
2.5 m shark                                               7
8' shark                                                  7
1.8 m shark                                               7
Name: Species , Length: 61, dtype: int64

In [202]:
len(df_species_fatal)

25723

In [203]:
df_species_fatal["Species "] = df_species_fatal["Species "].fillna('***')
na_species_index = df_species_fatal[df_species_fatal["Species "] == '***'].index.tolist()
df_species_fatal = df_species_fatal.drop(na_species_index)
len(df_species_fatal)

3464

In [205]:
df_species_fatal["Fatal (Y/N)"] = df_species_fatal["Fatal (Y/N)"].fillna('***')
na_fatal_index = df_species_fatal[df_species_fatal["Fatal (Y/N)"] == '***'].index.tolist()
df_species_fatal = df_species_fatal.drop(na_fatal_index)
len(df_species_fatal)

2948

In [206]:
def species_process(species):
    if species.lower() in ["white shark","tiger shark","bull shark","wobbegong shark","blacktip shark","blue shark","mako shark",
                           "raggedtooth shark","bronze whaler shark","nurse shark","grey nurse shark","zambesi shark",
                           "hammerhead shark","sandtiger shark","lemon shark","basking shark"]:
        return species.lower()
    elif "bull shark" in species.lower():
        return "bull shark"
    elif "white shark" in species.lower():
        return "white shark"
    elif "nurse shark" in species.lower():
        return "nurse shark"
    else:
        return "***"

In [207]:
def fatal_process(fatal):
    if fatal in ['N','Y']:
        return fatal
    else:
        return('***')

In [208]:
df_species_fatal["Species "] = df_species_fatal["Species "].apply(species_process)
df_species_fatal["Fatal (Y/N)"] = df_species_fatal["Fatal (Y/N)"].apply(fatal_process)

wrong_species_index = df_species_fatal[df_species_fatal["Species "] == '***'].index.tolist()
df_species_fatal = df_species_fatal.drop(wrong_species_index)
print(len(df_species_fatal))

wrong_fatal_index = df_species_fatal[df_species_fatal["Fatal (Y/N)"] == '***'].index.tolist()
df_species_fatal = df_species_fatal.drop(wrong_fatal_index)
print(len(df_species_fatal))

1107
1096

In [211]:
contingency_table2 = pd.crosstab(df_species_fatal['Species '], df_species_fatal['Fatal (Y/N)'])
contingency_table2

Fatal (Y/N)            N    Y
Species
basking shark          5    2
blacktip shark        15    0
blue shark            10    4
bronze whaler shark   11    1
bull shark           139   40
grey nurse shark      10    0
hammerhead shark       9    0
lemon shark            7    0
mako shark            12    1
nurse shark           84    1
raggedtooth shark     12    0
sandtiger shark        8    0
tiger shark           48   25
white shark          477  144
wobbegong shark       20    0
zambesi shark          9    2

In [215]:
chi2_contingency(contingency_table2)

(55.977307108252006,
 1.2224917653078967e-06,
 15,
 array([[  5.59489051,   1.40510949],
        [ 11.98905109,   3.01094891],
        [ 11.18978102,   2.81021898],
        [  9.59124088,   2.40875912],
        [143.06934307,  35.93065693],
        [  7.99270073,   2.00729927],
        [  7.19343066,   1.80656934],
        [  5.59489051,   1.40510949],
        [ 10.39051095,   2.60948905],
        [ 67.9379562 ,  17.0620438 ],
        [  9.59124088,   2.40875912],
        [  6.39416058,   1.60583942],
        [ 58.34671533,  14.65328467],
        [496.34671533, 124.65328467],
        [ 15.98540146,   4.01459854],
        [  8.7919708 ,   2.2080292 ]]))

In [183]:
list(df_species_fatal.groupby(['Species ','Fatal (Y/N)']))[0]

(('basking shark', 'N'),            Species  Fatal (Y/N)
 308   basking shark           N
 494   basking shark           N
 1029  basking shark           N
 1030  basking shark           N
 1031  basking shark           N)

In [192]:
list(df_species_fatal.groupby(['Species ','Fatal (Y/N)']))[1][0]

('basking shark', 'Y')

In [188]:
list(df_species_fatal.groupby(['Species ','Fatal (Y/N)']))[0][1]

           Species  Fatal (Y/N)
308   basking shark           N
494   basking shark           N
1029  basking shark           N
1030  basking shark           N
1031  basking shark           N

In [ ]:
'''def species_process(species):    
    if "6'" in species:
        return "6' shark"
    elif "5'" in species:
        return "5' shark"
    elif "4'" in species:
        return "4' shark"
    elif "3'" in species:
        return "3' shark"
    elif "2'" in species:
        return "2' shark"'''